@import url("reset.css");

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
} 

.img1 {
  height: 450px;
  width: 450px;
}

.img2 {
  height: 450px;
  width: 450px;
}

.img3 {
  height: 450px;
  width: 450px;
}

.img4 {
  height: 450px;
  width: 450px;
}

#me {
  float: right;
}

body {
  background-color: #e9e7ef;
  padding: 0;
  margin: 0;
  font-family: "Georgia", "Times New Roman", 'Times New Roman', Times, serif;
  font-size: 18px;
  Line-height: 150%;
}

h1 {
  color: #efeee7;
  background-color: #333333; 
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#main-bio {
  width: 70%;
}
#contact-info {
  width: 30%;
}

#bio-image {
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

  /* portfolio page */
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  /* contact page */
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  
  /* Responsive layout */
  @media only screen and (max-width:980px) {
    nav {
      margin-right: 5px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .main-section,
    .sidebar {
      max-width: 100%;
    }
  
    main {
      overflow: auto;
    }
  
    .work {
      /* Box-model */
      width: 47%;
  
      /* Positioning */
      margin-bottom: 10px;
    }
  
    .work:nth-child(even) {
      margin-right: 0;
    }
  
    .work:nth-child(odd) {
      float: right;
    }
  
    .auth-image {
      width: 50%;
    }
  
    .sidebar {
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (max-width: 640px){
      img.img1{
        height: 300px;
        width: 300px;
      }  

      img.img2{
        height: 300px;
        width: 300px;
      }  

      img.img3{
        height: 300px;
        width: 300px;
      }  

      img.img4{
        height: 300px;
        width: 300px;
      }  

    img.citadel{
      padding-left: 25px;
      height: 250px;
      width: 360px;
    }
    form{
      padding-left: 10px;
      padding-right: 30px;
    }
    
    #masthead {
      /* Positioning */
      position: static;
      margin-bottom: 20px;
    }
  
    header .container {
      padding: 0;
    }
  
    main.container {
      padding-top: 0;
    }
  
    #logo,
    .work,
    .auth-image {
      width: 100%;
    }
  
    nav {
      /* Box-model */
      width: 100%;
  
      /* Positioning */
      margin: 15px 0;
  
      /* Typography */
      text-align: center;
    }
  
    nav a {
      /* Box-model */
      width: 30%;
      padding-left: 0;
  
      /* Positioning */
      margin-left: 0;
    }
  }  
  